/* z-index order */

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:#222323;
  --col-02:#f0f6f0;
  --col-03:#5252ff;
  --col-04:#b6e878;
  --border: 1px solid var(--col-02);
}

body{
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--col-01);
  color: var(--col-02);
  padding: 2vw;
  margin-left: 17%;
}

/*
  i've set up a basic flexbox for each recipe container - you might want to change some of the 
  flex properties here on the container or on the individual flex items depending on how you want to style them
*/
.RecipeBox{
  width: 40%;
  display: inline-flex;
  flex-direction: column;
  border: var(--border);
  margin: 1% 2% 1% 0%;
}

.FilterSection{
  display: block;
  position: fixed;
  width: 15%;
  height: 92%;
  top: 5.8%;
  background-color: rgb(22,23,23,0.5);
  font-style: italic;
  overflow: scroll;
  left: 2%;
}

.FilterBox{

}

.FilterButton{
  background-color: rgb(255,255,255,0.5);
  width:100%;
  overflow-wrap: break-word;

}
/* 
  this class will be applied to the last filter button clicked - remember because it's below .FilterButton it will overwrite
  any duplicate properties
*/
.SelectedFilter{
  background-color: red;
}

.RecipeName{
  color: yellow;

}

.Author{
  background-color: red;
}

.RecipeImageContainer{

}

.RecipeImg{
  display: flex;
  width: 100%;
  flex: auto;

}

.Attribution{

}

.Publisher{

}

.Cuisine{

}

.TimeToCook{
  color: magenta;

}

.SkillLevel{

}

.Course{

}

.Servings{

}

.Dietary{

}

.DatePublished{

}

.DateUpdated{

}

.SpecialEquipment{

}

.RecipeName > a{
  color: yellow;
}

.RecipeName > a:visited{
  color:orange;
}

a {
  color: var(--col-04);
}

a:visited {
  color: var(--col-03);
}

