

* { /* Implemented to Every Element*/
    box-sizing: border-box;
    margin: 0;
}

:root {
    --co101: rgb(0,0,0);
    --co102: rgb(80,80,80);
    --co103: rgb(160,160,160);
    --co104: rgb(240,240,240);
    --border: dotted 4px var(--co101);
}

.canvas {
    z-index: 1;
    position:absolute;
    display: inline-block;
    margin: 10%;
    width: 80%;
    border: none;
    background-color: white;
    background-color: green;
}

.section {
    display: absolute;
    width: 100%;
    border: none;
}

.cut {
    display: absolute;
    z-index: 1;
}

#sec1 {
    display: flex;
    height: 270px;
    background-image: radial-gradient(yellow, pink, white);
}
#sec2 {
    display: flex;
    height: 100px;
    background-image: linear-gradient(to bottom right, cyan, violet, blue);
}   
#sec3 {
    display: flex;
    height: 230px;
    background-image: linear-gradient(to top left, white 50%, orchid 10%, royalblue);
}

#cut1 {
    width: 25%;
    height: 65%;
    margin-left: 2%;
    background-image: repeating-radial-gradient(circle, cyan,white 60%,cyan,white);
    border: 5px skyblue ridge;
}
#cut2 {
    width: 28%;
    height: 50%;
    margin-left: 15%;
    background-image: repeating-linear-gradient(silver, linen, lightgreen, snow);
    border: 4px gold double;
}
#cut3 {
    width: 20%;
    height: 95%;
    margin-left:10%;
    background-image: radial-gradient(circle, snow,hotpink, snow, hotpink);
    border: none;
}
#cut4 {
    z-index: 2;
    position: absolute;
    width: 25%;
    height: 45%;
    top: 50%;
    background-image: -webkit-repeating-linear-gradient(skyblue,pink,white);
    border: none;
}
#cut5 {
    z-index: 2;
    position: absolute;
    width: 30%;
    height: 55%;
    top: 40%;
    left: 35%;
    background-image: repeating-linear-gradient(skyblue, pink, white);
    border: 7px pink groove;
    border-top: 7px linen ridge;
    border-bottom: 7px linen ridge;
}

#cut6 {
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(plum,lightblue);
    border: 5px oldlace groove;
}

#cut7{
    z-index: 3;
    position:absolute;
    width: 28%;
    height: 65%;
    top: 35%;
    background-color: rgb(100,123,230,0.5);
}
#cut8{
    position:absolute;
    width: 45%;
    height: 65%;
    left: 20%;
    top: 10%;
    background-color: rgb(100, 123, 230, 0.5);
    background-image: repeating-radial-gradient(snow,cornflowerblue, white);
}
#cut9 {
    position:absolute;
    width: 25%;
    height: 90%;
    float: left;
    top: 10%;
    right: 0%;
    background-color: rgb(100,123,230,0.5);
}

h1 {
    border: var(--border);
    color: var(--co102);
}

h2 {
    border: var(--border);
    background-image: linear-gradient(var(--co102), var(--co103));
    background-image: linear-gradient(to top right, cyan, palegoldenrod);
}

div {
    position:relative;
    display:inline-block;
    background-color: var(--co104);
    border: 1px solid black;
}