*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:#222323;
  --col-02:#f0f6f0;
  --col-03:#5252ff;
  --col-04:#b6e878;
  --col-05:#faf0e6;
  --col-06:#6f6f6f;
  --border: 1px solid var(--col-02);
}

#background{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(var(--col-02), var(--col-05) 10%, red, var(--col-05) 90%, var(--col-02));
  overflow: hidden;
}
.turnLight{
  transition: animation 1s;
}
@keyframes animation {
  from {
    background-image: linear-gradient(var(--col-02), var(--col-05) 10%, red, var(--col-05) 90%, var(--col-02));
  }
  to {
    background-image: linear-gradient(var(--col-02), var(--col-05) 10%, var(--col-02), var(--col-05) 90%, var(--col-02));
  }
}

.audio-player-wrapper{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 20%;
  width: 50%;
}

/* becuase I want to overlay the play icon on the audio they need to be in their own wrapper */
.audio-element-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 5%;
}

#blinder{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#colorImage{
  z-index: 0;
  width: 45%;
  flex: inherit;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0, 0.5));
  cursor: pointer;
}

.musicBall{
  border: none;
  padding: 20px;
  position: absolute;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 40px;
}

#redBall{
  background-image: radial-gradient(
    farthest-corner at 40% 40%,
    mistyrose,  red 60%, white 80%);
    filter: drop-shadow(0 0 0.3rem red);
}
#redBall:hover{
  background-image: radial-gradient(
    farthest-corner at 40% 40%,
    mistyrose, rgb(255, 91, 91) 60%, white 80%);
}
#redBall:active{
  transform: scale(1.5);
}
#yellowBall{
  background-image: radial-gradient(
    farthest-corner at 40% 40%,
    floralwhite, gold 60%, white 80%);
    filter: drop-shadow(0 0 0.3rem gold);
}
#yellowBall:hover {
  background-image: radial-gradient(
    farthest-corner at 40% 40%,
    floralwhite, rgb(255, 228, 78) 60%, white 80%);
}
#yellowBall:active{
  transform: scale(1.5);
}
#greenBall{
  background-image: radial-gradient(
    farthest-corner at 40% 40%,
    honeydew, limegreen 60%, white 80%);
    filter: drop-shadow(0 0 0.3rem limegreen);
}
#greenBall:hover{
  background-image: radial-gradient(
    farthest-corner at 40% 40%,
    honeydew, rgb(80, 219, 80) 60%, white 80%);
}
#greenBall:active{
  transform: scale(1.5);
}
#blueBall{
  background-image: radial-gradient(
  farthest-corner at 40% 40%,
  lightcyan, cornflowerblue 60%, white 80%);
  filter: drop-shadow(0 0 0.3rem cornflowerblue);
}
#blueBall:hover{
  background-image: radial-gradient(
  farthest-corner at 40% 40%,
  lightcyan, rgb(139, 175, 241) 60%, white 80%);
}
#blueBall:active{
  transform: scale(1.5);
}

.moveToFirst{
  z-index:4;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  transition: all 1.5s ease-in-out;
}

.moveToSecond{
  z-index:3;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: -60px;
  transition: all 1.5s ease-in-out;
}

.moveToThird{
  z-index:2;
  margin-top: 80px;
  margin-left: 0px;
  margin-right: 0px;
  transition: all 1.5s ease-in-out;
}

.moveToFourth{
  z-index:1;
  margin-top: 50px;
  margin-left: -60px;
  margin-right: 0px;
  transition: all 1.5s ease-in-out;
}

#audioElement{
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

#audioPlayOverlay{
  width: 2rem;
  height: 2rem;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  opacity: 0.6;
  pointer-events: none;
  display: none;
}

.audio-controls-wrapper{
  display: inline-block;
  width: 80%;
  justify-content: center;
  position: fixed;
  bottom: 30%;
}
/* this overwrites the above display:flex - something which is then undone when the JS loads */
#controlsWrapper{
  display: none;
}

.audio-control-button{
  width: 2rem;
  height: 2rem;
  padding: .1rem;
  border: none;
  cursor: pointer;
  background-repeat: none;
  background-color: transparent;
  border-radius: 20%;
}
.audio-control-button:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
.audio-control-button:active{
  background-color: rgba(0, 0, 0, 0.1);
}
.button-icon{
  pointer-events: auto;  /* change mouse pointer to finger */
}

#playButton{
  background-image: url('./icons/play.png');
  position: fixed;
  bottom: 20%;
  filter: drop-shadow(0 0 0.5rem red);
}
#backwardButton{
  background-image: url('./icons/backward.png');
  position: fixed;
  bottom: 20%;
  left: 30%;
  filter: drop-shadow(0 0 0.5rem red);
}
#forwardButton{
  background-image: url('./icons/forward.png');
  position: fixed;
  bottom: 20%;
  right: 30%;
  filter: drop-shadow(0 0 0.5rem red);
}
#loopButton{
  background-size: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url('./icons/loop.png');
  position: fixed;
  bottom: 20.5%;
  left: 11%;
  filter: drop-shadow(0 0 0.5rem red);
}
#muteButton{
  background-image: url('./icons/mute.png');
  position: fixed;
  bottom: 20%;
  right: 10%;
  filter: drop-shadow(0 0 0.5rem red);
}
#shuffleButton{
  background-image: url('./icons/shuffle.png');
  position: fixed;
  background-size: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  top: 10%;
  left: 10%;
  filter: drop-shadow(0 0 0.5rem red);
}
#nightShiftButton{
  background-image: url('./icons/moon.png');
  position: fixed;
  top: 10%;
  right: 10%;
  filter: drop-shadow(0 0 0.5rem red);
}

.audio-progress-bar{
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 0.7rem;
  width: 100%;
  flex-grow: 1;
  cursor: pointer;
  background-color: var(--col-05);
  box-shadow: 0 1px 2px var(--col-06) outset;
  border-radius: 20px;
}
::-moz-progress-bar {
  background-color: var(--col-05);
  box-shadow: 0 1px 2px var(--col-06) inset;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;  
}

::-webkit-progress-bar {
  background-color: var(--col-05);
  box-shadow: 0 1px 2px var(--col-06) inset;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;  
}
::-webkit-progress-value {
  background: linear-gradient(90deg,var(--col-01), transparent 85%), linear-gradient(90deg, var(--col-05), var(--col-01));
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) outset;  
  border-radius: 20px;
}
.progress-red::-webkit-progress-value{
  background-image: linear-gradient(var(--col-05) 5%,red ,var(--col-05) 95%);
}
.progress-yellow::-webkit-progress-value{
  background-image: linear-gradient(var(--col-05) 5%,gold ,var(--col-05) 95%);
}
.progress-green::-webkit-progress-value{
  background-image: linear-gradient(var(--col-05) 5%,limegreen ,var(--col-05) 95%);
}
.progress-blue::-webkit-progress-value{
  background-image: linear-gradient(var(--col-05) 5%,cornflowerblue ,var(--col-05) 95%);

}

.audio-progress-bar:hover{
  transform: scaleY(1.5);
}

.timeline-loading{
  background-image: -moz-repeating-linear-gradient(45deg, var(--col-03) 0% 2%, transparent 2% 4%, red 4%);
  background-size: 200% 100%;
  animation: loadingAnimation 4s ease-in-out double;
}

@keyframes loadingAnimation {
  100%{
    background-position: 50% 0%;
  }
}